<div class="container">
  <div class="jumbotron">
    <!--p id="notice"><%= notice %></p-->
    
    <% if administrador_signed_in? || coordinador_signed_in? %>
      <h2>Lista de Usuarios de Comision Docente</h2>
      <br>

        <div class="row">
        <div class="col-md-2">
          <span style="font-size:14px">
            <strong>Rut</strong>
          </span>
        </div>
        <div class="col-md-2">
          <span style="font-size:14px">
            <strong>Nombre</strong>
          </span>
        </div>
        <div class="col-md-2">
          <span style="font-size:14px">
            <strong>Apellido</strong>
          </span>
        </div>
        <div class="col-md-2">
          <span style="font-size:14px">
            <strong>Email</strong>
          </span>
        </div>
        <div class="col-md-2">
          <span style="font-size:14px">
            <strong>Telefono</strong>
          </span>
        </div>
      </div>
      <hr>
      <% @comisions.each do |comision| %>
        <div class="row">
          <div class="col-md-2">
            <span style="font-size:14px">
              <%= comision.rut %>
            </span>
          </div>
          <div class="col-md-2">
            <span style="font-size:14px">
              <%= comision.nombre %>
            </span>
          </div>
          <div class="col-md-2">
            <span style="font-size:14px">
              <%= comision.apellido %>
            </span>
          </div>
          <div class="col-md-2">
            <span style="font-size:14px">
              <%= comision.email %>
            </span>
          </div>
          <div class="col-md-2">
            <span style="font-size:14px">
              <%= comision.telefono %>
            </span>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>
    <br>
    <div>
      <a href="<%= new_comision_registration_path %>" class="btn btn-default btn-xs">Registrar Nuevo Usuario Comisión Docente</a>
    </div>
  </div>
</div>